@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
a {
  color: inherit;
}
a:hover {
  color: #b62212;
  text-decoration: none;
}

.darken-hover:hover {
  color: #e42a17;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.main-padding {
  padding: 0 40px;
}
@media (min-width: 768px) {
  .main-padding {
    padding: 0 15%;
  }
}

.second-color {
  color: #ec5242;
}

.deactive:hover {
  color: #a0a0a0;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.woff") format("woff"), url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.svg#COCOGOOSE") format("svg"), url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.eot"), url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
}
@media (min-width: 768px) {
  body {
    width: 75%;
  }
}

.nav-bar {
  font-family: "Lato", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: auto;
}
.nav-bar .top-nav {
  background-color: #272a21;
  color: lightgray;
}
.nav-bar .top-nav i {
  margin: 5px 10px;
}
.nav-bar .top-nav ul li {
  margin: 0 10px;
}
.nav-bar .bottom-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  margin-left: 0;
}
.nav-bar .bottom-nav img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.nav-bar .bottom-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.nav-bar .bottom-nav ul li {
  margin-right: 1vw;
}
.nav-bar .bottom-nav button {
  color: #ec5242;
  border: 4px solid #ec5242;
  margin: 10px;
  padding: 3px 10px;
  margin-right: 0;
}

.menu-button {
  z-index: 1;
  text-align: left;
  border: 0;
  padding: 5px;
  margin: 0;
  position: relative;
  background-color: transparent;
}
.menu-button:focus, .menu-button:hover {
  outline: none;
}
.menu-button .fa-bars {
  font-size: 200%;
  color: transparent;
  background-image: linear-gradient(to right, lightgray, #272a21);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.menu-button .fa-bars:focus, .menu-button .fa-bars:hover {
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, lightgray, #272a21);
}

main {
  font-family: "COCOGOOSE", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
main .map {
  padding-top: 10px;
  margin-right: 10px;
  text-align: right;
}
main .map .fa-chevron-right {
  color: #ec5242;
}
main .steps {
  color: #878787;
  padding-top: 60px;
  padding-bottom: 60px;
}
main .steps h1,
main .steps h2 {
  font-size: 1.25em;
}
main .steps h1::after,
main .steps h2::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 40px;
  background-color: #ec5242;
  border: solid 1px #ec5242;
}
main .steps h3 {
  font-size: 1em;
  border: solid lightgray 1px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 20px;
  display: list-item;
  list-style-position: inside;
  color: #ec5242;
}
main .steps h3 span {
  color: #272a21;
}
main .steps .table-ticket {
  padding: 10px;
  background-image: linear-gradient(0deg, lightgray, lightgray), repeating-linear-gradient(-45deg, blue, blue 5px, white, white 10px, red, red 15px, white, white 20px);
  background-size: calc(100% - 10px * 2) calc(100% - 10px * 2), 100% 100%;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}
main .steps .table-ticket div {
  padding: 10px 0;
  background-color: #fff;
}
main .steps .table-ticket .two-column {
  grid-column-end: span 2;
}
main .steps.step-1 {
  background-color: #f9f9f9;
}
main .steps.step-2 {
  position: relative;
  padding-top: 0;
}
main .steps.step-2 .down-arrow {
  background-color: #ec5242;
  color: #fff;
  height: 40px;
  width: 40px;
  padding-top: 7px;
  margin: 0 auto;
  position: relative;
  top: -20px;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
main .steps.step-2 .down-arrow i {
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
main .steps.step-2 .name-menu {
  font-size: 1.25em;
  margin-top: 20px;
  padding: 10px;
  background-color: #ededed;
}
main .steps.step-2 .first-menu, main .steps.step-2 .second-menu {
  font-size: 1em;
  padding: 1vw;
  width: 100%;
  border: 1px solid lightgray;
}
main .steps.step-2 .first-menu label, main .steps.step-2 .second-menu label {
  margin: 0 10px;
}
main .steps.step-2 button {
  background-color: #ec5242;
  border: none;
  width: 200px;
  margin: 20px;
  padding: 20px;
}
main .steps.step-2 button:hover {
  color: #b62212;
  text-decoration: none;
}

.footer {
  font-family: "Lato", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #272a21;
  color: lightgray;
  padding-bottom: 50px;
  padding-top: 50px;
}
.footer a .footer-image {
  background-color: lightgray;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

/*# sourceMappingURL=ticket.css.map */
