@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "COCOGOOSE";
  src: url("webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.woff") format("woff"), url("webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.svg#COCOGOOSE") format("svg"), url("webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.eot"), url("webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
a {
  color: inherit;
}
a:hover {
  color: red;
  text-decoration: none;
}

.darken-hover:hover {
  color: #e42a17;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.main-padding {
  padding: 0 40px;
}
@media (min-width: 768px) {
  .main-padding {
    padding: 0 15%;
  }
}

body {
  width: 100%;
}
@media (min-width: 768px) {
  body {
    width: 75%;
  }
}

nav {
  height: auto;
}
nav .top-nav {
  background-color: #272a21;
  color: lightgray;
}
nav .top-nav i {
  margin: 5px 10px;
}
nav .top-nav ul li {
  margin: 0 10px;
}
nav .bottom-nav {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  margin-left: 0;
}
nav .bottom-nav img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
nav .bottom-nav ul li {
  margin-right: 2vw;
}
nav .bottom-nav button {
  color: #ec5242;
  border: 4px solid #ec5242;
  margin: 10px;
  padding: 3px 10px;
  margin-right: 0;
}

main::after {
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url("/images/background-1.svg");
  background-position: center 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
main .fa-bars {
  font-size: 200%;
}
main .main-top {
  color: #878787;
  padding-top: 60px;
  padding-bottom: 60px;
}
main .main-top h1 {
  color: #ec5242;
}
main .main-top h2 {
  background-image: url("/images/alex-jekowsky-ujBbHxsGNH8-unsplash.jpg");
  background-position: 50%;
  background-size: 50px;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 3.75em;
  font-weight: bold;
  text-transform: uppercase;
  width: auto;
}
@media (min-width: 768px) {
  main .main-top h2 {
    width: 75%;
  }
}
main .main-top h3 {
  border: 3px solid #fff;
  padding: 10px;
  background-color: #f9f9f9;
  width: 75%;
  line-height: 2;
  font-size: 1em;
}
main .main-top h4 {
  white-space: nowrap;
  width: auto;
  margin-right: 100%;
  background-color: red;
  font-weight: bold;
  font-size: 1.875em;
  text-transform: uppercase;
}
main .main-middle {
  background-image: url("/images/two-rect.svg");
  background-size: 40px;
  background-repeat: repeat;
  color: lightgray;
}
main .main-middle .title-main-middle {
  font-weight: 600;
  color: #cccccc;
}
main .main-middle .title-main-middle::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 40px;
  background-color: #ec5242;
  border: solid 1px #ec5242;
}
main .main-middle .section {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  main .main-middle .section {
    margin: 0;
    padding: 0;
  }
}
main .main-middle .section div {
  width: auto;
  margin: auto 0;
}
@media (min-width: 768px) {
  main .main-middle .section div {
    width: 100%;
    margin: 10px 0;
  }
}
main .main-middle .section div i {
  font-size: 1.875em;
}
main .main-middle .section a {
  font-weight: 600;
  font-size: 1.625rem;
  color: #ec5242;
}
main .main-middle .section p {
  color: lightgray;
}
main .main-middle button {
  background-color: #ec5242;
  color: lightgray;
  font-size: 1.625em;
}
main .sponsors {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #414246;
  color: lightgray;
}
main .sponsors h1 {
  font-size: 1.375em;
}
main .sponsors h1::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 40px;
  background-color: #ec5242;
  border: solid 1px #ec5242;
}
main .sponsors div a {
  font-size: 1.625em;
  margin: 0 10px;
}

.footer {
  padding-bottom: 50px;
  padding-top: 50px;
}
.footer a img {
  background-color: lightgray;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

/*# sourceMappingURL=main.css.map */
