@import "../import_sass/base";

@font-face {
  font-family: "COCOGOOSE";
  src: url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.woff")
      format("woff"),
    url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.svg#COCOGOOSE")
      format("svg"),
    url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.eot"),
    url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  @media (min-width: 768px) {
    width: 75%;
  }

  width: 100%;
}

nav {
  font-family: $font-1;
  height: auto;

  .top-nav {
    background-color: $first-color;
    color: $third-color;

    i {
      margin: 5px 10px;
    }

    ul {
      li {
        margin: 0 10px;
      }
    }
  }

  .bottom-nav {
    background-color: #fff;

    @include bs(0 5px 16px -4px rgba(0, 0, 0, 0.36));

    margin-left: 0;

    img {
      border-radius: 50%;
      height: 70px;
      width: 70px;
    }

    ul {
      li {
        margin-right: 1vw;

        .checked-page {
          color: $second-color;
        }
      }
    }

    button {
      color: $second-color;
      border: 4px solid $second-color;
      margin: 10px;
      padding: 3px 10px;
      margin-right: 0;
    }
  }
}

main {
  font-family: $font-2;

  &::after {
    content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../../images/background-2.svg");
    background-position: center 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .map {
    padding-top: 10px;
    margin-right: 10px;
    text-align: right;

    .fa-chevron-right {
      color: $second-color;
    }
  }

  a {
    .fa-bars {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 200%;
    }
  }

  .main-top {
    color: darken($third-color, 30%);
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
      color: $second-color;
    }

    h2 {
      color: $second-color;

      @include fz(60px);

      font-weight: bold;
      text-transform: uppercase;
      width: auto;
    }

    h3 {
      background-color: #fff;
      border: 3px solid $third-color;

      @media (min-width: 768px) {
        padding: 0 100px;
        width: 100%;
        margin: 0 0;
      }

      line-height: 2;

      @include fz(16px);
    }

    h4 {
      width: auto;
      font-weight: bold;

      @include fz(16px);
    }

    h5 {
      text-decoration: underline;
      color: $first-color;
    }
  }

  .main-middle {
    background-color: #fff;
    color: $third-color;

    .border-top-bold {
      border-top: $third-color 2px solid;
      border-bottom: $third-color 2px solid;
      padding-bottom: 20px;
    }

    section {
      .title-main-middle {
        font-weight: 600;
        color: $first-color;

        &::after {
          @include after-line();
        }
      }

      .logo-middle {
        width: 75vw;
      }

      div {
        color: darken($third-color, 30%);
        width: auto;
        margin: auto 0;
        margin-bottom: 10px;

        @media (min-width: 768px) {
          width: 100%;
          margin: 10px 0;
        }
      }

      figure {
        @include fz(26px);

        color: #fff;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        padding: 30px;
      }

      .first-image {
        height: 300px;
        background-image: linear-gradient(
            to bottom,
            rgba(255, 0, 0, 0.2),
            rgba(255, 0, 0, 0.2)
          ),
          url("../../images/claudio-schwarz-purzlbaum-_wDZkpybAfY-unsplash.jpg");
        background-size: cover, cover;
        width: 100%;

        @media (min-width: 768px) {
          width: 50%;
        }
      }

      .second-image {
        @extend .first-image;

        background-image: linear-gradient(
            to bottom,
            rgba(255, 0, 0, 0.2),
            rgba(255, 0, 0, 0.2)
          ),
          url("../../images/samuel-pereira-uf2nnANWa8Q-unsplash.jpg");
      }
    }
  }

 

  .sponsors {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #414246;
    color: $third-color;

    .title-sponsors {
      @include fz(22px);

      &::after {
        @include after-line();
      }
    }

    a {
      @include fz(26px);

      margin: 0 10px;

  
    }
  }
}

.footer {
  @media (min-width: 768px) {
    background-color: $first-color;
    color: $third-color;
  }

  font-family: $font-1;

  padding-bottom: 50px;
  padding-top: 50px;

  a {
    .footer-image {
      background-color: $third-color;
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
  }
}
