@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
a {
  color: inherit;
}
a:hover {
  color: #b62212;
  text-decoration: none;
}

.darken-hover:hover {
  color: #e42a17;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.main-padding {
  padding: 0 40px;
}
@media (min-width: 768px) {
  .main-padding {
    padding: 0 15%;
  }
}

.deactive:hover {
  color: lightgray;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.woff") format("woff"), url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.svg#COCOGOOSE") format("svg"), url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.eot"), url("../../webfonts/webfonts_COCOGOOSE/COCOGOOSE.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
}
@media (min-width: 768px) {
  body {
    width: 75%;
  }
}

nav {
  font-family: "Lato", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: auto;
}
nav .top-nav {
  background-color: #272a21;
  color: lightgray;
}
nav .top-nav i {
  margin: 5px 10px;
}
nav .top-nav ul li {
  margin: 0 10px;
}
nav .bottom-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.36);
  margin-left: 0;
}
nav .bottom-nav img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
nav .bottom-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav .bottom-nav ul li {
  margin-right: 1vw;
}
nav .bottom-nav button {
  color: #ec5242;
  border: 4px solid #ec5242;
  margin: 10px;
  padding: 3px 10px;
  margin-right: 0;
}

.menu-button {
  z-index: 1;
  border: 0;
  padding: 5px;
  margin: 0;
  position: relative;
  background-color: transparent;
}
.menu-button:focus, .menu-button:hover {
  outline: none;
}
.menu-button .fa-bars {
  font-size: 200%;
  color: transparent;
  background-image: linear-gradient(to right, lightgray, #272a21);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.menu-button .fa-bars:focus, .menu-button .fa-bars:hover {
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, lightgray, #272a21);
}

main {
  font-family: "COCOGOOSE", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
main::after {
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url("../../images/background-2.svg");
  background-position: center 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
main .map {
  padding-top: 10px;
  margin-right: 10px;
  text-align: right;
}
main .map .fa-chevron-right {
  color: #ec5242;
}
main .main-top {
  color: #878787;
  padding-top: 60px;
  padding-bottom: 60px;
}
main .main-top h1 {
  color: #ec5242;
}
main .main-top h2 {
  color: #ec5242;
  font-size: 3.75em;
  font-weight: bold;
  text-transform: uppercase;
  width: auto;
}
main .main-top h3 {
  background-color: #fff;
  border: 3px solid lightgray;
  line-height: 2;
  font-size: 1em;
}
@media (min-width: 768px) {
  main .main-top h3 {
    padding: 0 100px;
    width: 100%;
    margin: 0 0;
  }
}
main .main-top h4 {
  width: auto;
  font-weight: bold;
  font-size: 1em;
}
main .main-top h5 {
  text-decoration: underline;
  color: #272a21;
}
main .main-middle {
  background-color: #fff;
  color: lightgray;
}
main .main-middle .border-top-bold {
  border-top: lightgray 2px solid;
  border-bottom: lightgray 2px solid;
  padding-bottom: 20px;
}
main .main-middle section .title-main-middle {
  font-weight: 600;
  color: #272a21;
}
main .main-middle section .title-main-middle::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 40px;
  background-color: #ec5242;
  border: solid 1px #ec5242;
}
main .main-middle section .logo-middle {
  width: 75vw;
}
main .main-middle section div {
  color: #878787;
  width: auto;
  margin: auto 0;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  main .main-middle section div {
    width: 100%;
    margin: 10px 0;
  }
}
main .main-middle section figure {
  font-size: 1.625em;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px;
}
main .main-middle section .first-image, main .main-middle section .second-image {
  height: 300px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)), url("../../images/claudio-schwarz-purzlbaum-_wDZkpybAfY-unsplash.jpg");
  background-size: cover, cover;
  width: 100%;
}
@media (min-width: 768px) {
  main .main-middle section .first-image, main .main-middle section .second-image {
    width: 50%;
  }
}
main .main-middle section .second-image {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)), url("../../images/samuel-pereira-uf2nnANWa8Q-unsplash.jpg");
}
main .sponsors {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #414246;
  color: lightgray;
}
main .sponsors .title-sponsors {
  font-size: 1.375em;
}
main .sponsors .title-sponsors::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 40px;
  background-color: #ec5242;
  border: solid 1px #ec5242;
}
main .sponsors a {
  font-size: 1.625em;
  margin: 0 10px;
}

.footer {
  font-family: "Lato", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .footer {
    background-color: #272a21;
    color: lightgray;
  }
}
.footer a .footer-image {
  background-color: lightgray;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

/*# sourceMappingURL=about.css.map */
